/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    font-family: 'Poppins', serif;
    background-image: url('concrete_seamless.png');
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

/* Logo Animation */
@keyframes logoAnimation {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

.logo {
    animation: logoAnimation 5s ease-in-out;
}

/* Flex Layout for Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #288088;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav_links {
    display: flex;
    gap: 20px;
}

.nav_links a {
    text-decoration: none;
    color: #000;
}

/* Ensure Links Remain the Same Color After Visit */
a:link, a:visited {
    color: #000; /* Black or choose a color */
}

/* Card Class Styling */
.card {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}

.card::before {
    content: '👍 '; /* Thumbs up entity */
}

/* Pricing Class */
.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gallery Styling */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Media Queries */

/* Screen size greater than 900px */
@media (min-width: 900px) {
    header {
        justify-content: space-between;
    }
    .nav_links {
        justify-content: flex-end;
    }
    .pricing {
        justify-content: space-between;
    }
    .card {
        flex-basis: 275px;
    }
}

/* Screen size less than 900px */
@media (max-width: 900px) {
    header {
        flex-direction: column;
    }
    .nav_links {
        justify-content: center;
    }
}

/* Reduced Motion Preference */
@media (prefers-reduced-motion: reduce) {
    .logo {
        animation: none;
    }
}

/* Print in Portrait Mode */
@media print and (orientation: portrait) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: none;
    }

    .gallery {
        display: none;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    .nav_links {
        justify-content: space-between;
    }

    .pricing {
        align-items: flex-end;
    }
}
